<head>
  <link rel="stylesheet" href="main.css">
</head>

<div id="title-box">

<h1 id="main-title">Google Books</h1>

<form action = "/" method = "POST">
  <input name="query" placeholder="Enter title, Author, Book ID, Etc..."/>
  <button>Search</button>
  </form>

</div>
